server:
  port : 9000

spring:
  application:
    name : config-server
  cloud:
    config:
      server:
        git :
          uri : https://github.com/Pwenlee/springcloud-demo
          username : 630238086@qq.com
          password : Lp19921115?!!
          searchPaths :  config
      label : master

eureka:
  client:
    serviceUrl:
      defaultZone : http://localhost:8070/eureka/